.DS_Store
node_modules
themebackup
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
api collection/tour-vuejs.postman_collection.json
api collection/tour-vuejs(updated api).postman_collection.json
api collection/tour-vuejs.postman_collection.json
package-lock.json
.env