
.int_phone{
    min-width: 200px;
    min-height: 45px;
}

.int_phone_group{
    min-height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow: -3px -4px 5px 0px rgba(0, 0, 0, 0.12) inset;
}

.int_phone_select_warp{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    min-height: 45px;
    z-index: 99999;
}

.init_phone_select_btn{
    margin: 15px 0px 0px 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.int_phone_number{
    margin-left: 75px;
    /* height: 40px; */
    width: 88%;
    padding-left: 12px !important;
    /* padding-left: 10px; */
}

/* 
@media screen and (max-width: 1000px) {

    .int_phone_number{
        width: 78%;
    }
} */

.int_phone_number_list{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
    max-height: 300px;
    top: 5px;
    left: 0px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #f6f6f6;
    border-radius: 7px;
}

.int_phone_number_country_list{
    margin-top: 10px;
    text-align: left;
    margin-left: 2px;
}

.int_phone_number_search_input{
    font-size: 13px !important;
    margin-left: 1px;
    padding-left: 5px !important;
    max-height: 40px;   
}

.int_phone_countries_btn{
    margin: 5px;
    cursor: pointer;
}

.int_phone_countries_btn:hover{
   background-color: #d2edf2;
}