
.int_phone{
    min-width: 200px;
    min-height: 45px;
}

.int_phone_group{
    /* position: relative; */
    min-height: 45px;
    /* max-width: 90%; */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow: -3px -4px 5px 0px rgba(0, 0, 0, 0.12) inset;
}

.int_phone_select_warp{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    min-height: 45px;
    z-index: 99999;
}

.init_phone_select_btn{
    margin: 15px 0px 0px 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.int_phone_number{
    margin-left: 75px;
    /* height: 40px; */
    width: 88%;
    padding-left: 12px !important;
    /* padding-left: 10px; */
}

/* 
@media screen and (max-width: 1000px) {

    .int_phone_number{
        width: 78%;
    }
} */

.int_phone_number_list{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
    max-height: 300px;
    top: 5px;
    left: 0px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #f6f6f6;
    border-radius: 7px;
}

.int_phone_number_country_list{
    margin-top: 10px;
    text-align: left;
    margin-left: 2px;
}

.int_phone_number_search_input{
    font-size: 13px !important;
    margin-left: 1px;
    padding-left: 5px !important;
    max-height: 40px;   
}

.int_phone_countries_btn{
    margin: 5px;
    cursor: pointer;
}

.int_phone_countries_btn:hover{
   background-color: #d2edf2;
}


.iti-flag {
    width: 20px;
    height: 15px;
    /* box-shadow: 0px 0px 1px 0px #888; */
    background-image: url("../images/flags.png");
    background-repeat: no-repeat;
    /* background-position: 20px 0px; */
    display: inline-block;
}




.iti-flag.mc {
    width: 19px
}


.iti-flag.np {
    width: 13px
}

.iti-flag.va {
    width: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-size:5630px 15px
    }
}

.iti-flag.ac {
    height: 10px;
    background-position: 0px 0px
}

.iti-flag.ad {
    height: 14px;
    background-position: -22px 0px
}

.iti-flag.ae {
    height: 10px;
    background-position: -44px 0px
}

.iti-flag.af {
    height: 14px;
    background-position: -66px 0px
}

.iti-flag.ag {
    height: 14px;
    background-position: -88px 0px
}

.iti-flag.ai {
    height: 10px;
    background-position: -110px 0px
}

.iti-flag.al {
    height: 15px;
    background-position: -132px 0px
}

.iti-flag.am {
    height: 10px;
    background-position: -154px 0px
}

.iti-flag.ao {
    height: 14px;
    background-position: -176px 0px
}

.iti-flag.aq {
    height: 14px;
    background-position: -198px 0px
}

.iti-flag.ar {
    height: 13px;
    background-position: -220px 0px
}

.iti-flag.as {
    height: 10px;
    background-position: -240px 0px;
}

.iti-flag.at {
    height: 14px;
    background-position: -263px 0px;
}

.iti-flag.au {
    height: 10px;
    background-position: -286px 0px
}

.iti-flag.aw {
    height: 14px;
    background-position: -308px 0px
}

.iti-flag.ax {
    height: 13px;
    background-position: -330px 0px
}

.iti-flag.az {
    height: 10px;
    background-position: -352px 0px
}

.iti-flag.ba {
    height: 10px;
    background-position: -374px 0px
}

.iti-flag.bb {
    height: 14px;
    background-position: -396px 0px
}

.iti-flag.bd {
    height: 12px;
    background-position: -416px 0px;
}

.iti-flag.be {
    height: 15px;
    background-position: -438px 0px;
}

.iti-flag.bf {
    height: 14px;
    background-position: -458px 0px;
}

.iti-flag.bg {
    height: 12px;
    background-position: -482px 0px
}

.iti-flag.bh {
    height: 12px;
    background-position: -500px 0px;
    border: 1px solid #ccc;
}

.iti-flag.bi {
    height: 12px;
    background-position: -524px 0px;
}

.iti-flag.bj {
    height: 14px;
    background-position: -546px 0px;
}

.iti-flag.bl {
    height: 14px;
    background-position: -568px 0px;
}

.iti-flag.bm {
    height: 10px;
    background-position: -592px 0px
}

.iti-flag.bn {
    height: 10px;
    background-position: -611px 0px;
}

.iti-flag.bo {
    height: 14px;
    background-position: -633px 0px;
}

.iti-flag.bq {
    height: 14px;
    background-position: -656px 0px;
}

.iti-flag.br {
    height: 14px;
    background-position: -676px 0px
}

.iti-flag.bs {
    height: 10px;
    background-position: -702px 0px
}

.iti-flag.bt {
    height: 14px;
    background-position: -721px 0px
}

.iti-flag.bv {
    height: 15px;
    background-position: -746px 0px
}

.iti-flag.bw {
    height: 14px;
    background-position: -765px 0px
}

.iti-flag.by {
    height: 10px;
    background-position: -787px 0px;
}

.iti-flag.bz {
    height: 14px;
    background-position: -809px 0px;
}

.iti-flag.ca {
    height: 10px;
    background-position: -831px 0px
}

.iti-flag.cc {
    height: 10px;
    background-position: -853px 0px;
}

.iti-flag.cd {
    height: 15px;
    background-position: -874px 0px;
}

.iti-flag.cf {
    height: 14px;
    background-position: -896px 0px;
}

.iti-flag.cg {
    height: 14px;
    background-position: -919px 0px;
}

.iti-flag.ch {
    height: 15px;
    width: 18px !important;
    background-position: -939px 0px;
}

.iti-flag.ci {
    height: 14px;
    background-position: -957px 0px;
}

.iti-flag.ck {
    height: 10px;
    background-position: -980px 0px;
}

.iti-flag.cl {
    height: 14px;
    background-position: -1001px 0px;
}

.iti-flag.cm {
    height: 14px;
    background-position: -1023px 0px;
}

.iti-flag.cn {
    height: 14px;
    background-position: -1045px 0px;
}

.iti-flag.co {
    height: 14px;
    background-position: -1067px 0px;
}

.iti-flag.cp {
    height: 14px;
    background-position: -1093px 0px
}

.iti-flag.cr {
    height: 12px;
    background-position: -1111px 0px;
}

.iti-flag.cu {
    height: 10px;
    background-position: -1133px 0px;
}

.iti-flag.cv {
    height: 12px;
    background-position: -1154px 0px;
}

.iti-flag.cw {
    height: 14px;
    background-position: -1177px 0px;
}

.iti-flag.cx {
    height: 10px;
    background-position: -1199px 0px;
}

.iti-flag.cy {
    height: 14px;
    background-position: -1222px 0px;
    border: 1px solid #ccc;
}

.iti-flag.cz {
    height: 14px;
    background-position: -1242px 0px;
}

.iti-flag.de {
    height: 12px;
    background-position: -1264px 0px;
}

.iti-flag.dg {
    height: 10px;
    background-position: -1291px 0px
}

.iti-flag.dj {
    height: 14px;
    background-position: -1308px 0px;
}

.iti-flag.dk {
    height: 15px;
    background-position: -1330px 0px;
}

.iti-flag.dm {
    height: 10px;
    background-position: -1351px 0px;
}

.iti-flag.do {
    height: 13px;
    background-position: -1374px 0px;
}

.iti-flag.dz {
    height: 14px;
    border: 1px solid #ccc;
    background-position: -1395px 0px;
}

.iti-flag.ea {
    height: 14px;
    background-position: -1423px 0px
}

.iti-flag.ec {
    height: 14px;
    background-position: -1440px 0px;
}

.iti-flag.ee {
    height: 13px;
    border: 1px solid #ccc;
    background-position: -1461px 0px;
}

.iti-flag.eg {
    height: 14px;
    background-position: -1483px 0px;
}

.iti-flag.eh {
    height: 10px;
    background-position: -1505px 0px;
}

.iti-flag.er {
    height: 10px;
    background-position: -1527px 0px;
}

.iti-flag.es {
    height: 14px;
    background-position: -1549px 0px;
}

.iti-flag.et {
    height: 10px;
    background-position: -1571px 0px;
}

.iti-flag.eu {
    height: 14px;
    background-position: -1599px 0px
}

.iti-flag.fi {
    height: 12px;
    background-position: -1614px 0px;
}

.iti-flag.fj {
    height: 10px;
    background-position: -1637px 0px;
}

.iti-flag.fk {
    height: 10px;
    background-position: -1658px 0px;
}

.iti-flag.fm {
    height: 11px;
    background-position: -1680px 0px;
}

.iti-flag.fo {
    height: 15px;
    background-position: -1702px 0px;
}

.iti-flag.fr {
    height: 14px;
    background-position: -1724px 0px;
}

.iti-flag.ga {
    height: 15px;
    background-position: -1746px 0px;
}

.iti-flag.gb {
    height: 10px;
    background-position: -1768px 0px;
}

.iti-flag.gd {
    height: 12px;
    background-position: -1789px 0px;
}

.iti-flag.ge {
    height: 14px;
    background-position: -1812px 0px;
}

.iti-flag.gf {
    height: 14px;
    background-position: -1833px 0px;
}

.iti-flag.gg {
    height: 14px;
    background-position: -1856px 0px;
}

.iti-flag.gh {
    height: 14px;
    background-position: -1878px 0px;
}

.iti-flag.gi {
    height: 10px;
    background-position: -1900px 0px;
}

.iti-flag.gl {
    height: 14px;
    background-position: -1922px 0px;
}

.iti-flag.gm {
    height: 14px;
    background-position: -1943px 0px;
}

.iti-flag.gn {
    height: 14px;
    background-position: -1965px 0px;
}

.iti-flag.gp {
    height: 14px;
    background-position: -1987px 0px;
}

.iti-flag.gq {
    height: 14px;
    background-position: -2010px 0px;
}

.iti-flag.gr {
    height: 14px;
    background-position: -2031px 0px;
}

.iti-flag.gs {
    height: 10px;
    background-position: -2061px 0px
}

.iti-flag.gt {
    height: 13px;
    background-position: -2075px 0px;
}

.iti-flag.gu {
    height: 11px;
    background-position: -2096px 0px;
}

.iti-flag.gw {
    height: 10px;
    background-position: -2118px 0px;
}

.iti-flag.gy {
    height: 12px;
    background-position: -2140px 0px;
}

.iti-flag.hk {
    height: 14px;
    background-position: -2163px 0px;
}

.iti-flag.hm {
    height: 10px;
    background-position: -2193px 0px
}

.iti-flag.hn {
    height: 10px;
    background-position: -2206px 0px;
}

.iti-flag.hr {
    height: 10px;
    background-position: -2228px 0px;
}

.iti-flag.ht {
    height: 12px;
    background-position: -2250px 0px;
}

.iti-flag.hu {
    height: 10px;
    background-position: -2272px 0px;
}

.iti-flag.ic {
    height: 14px;
    background-position: -2303px 0px
}

.iti-flag.id {
    height: 14px;
    background-position: -2316px 0px;
    border: 1px solid #ccc;
}

.iti-flag.ie {
    height: 10px;
    background-position: -2338px 0px;
}

.iti-flag.il {
    height: 15px;
    background-position: -2360px 0px;
}

.iti-flag.im {
    height: 10px;
    background-position: -2381px 0px;
}

.iti-flag.in {
    height: 14px;
    background-position: -2404px 0px
}

.iti-flag.io {
    height: 10px;
    background-position: -2425px 0px;
}

.iti-flag.iq {
    height: 14px;
    background-position: -2447px 0px;
}

.iti-flag.ir {
    height: 12px;
    background-position: -2470px 0px;
}

.iti-flag.is {
    height: 15px;
    background-position: -2491px 0px;
}

.iti-flag.it {
    height: 14px;
    background-position: -2513px 0px;
}

.iti-flag.je {
    height: 12px;
    background-position: -2536px 0px;
}

.iti-flag.jm {
    height: 10px;
    background-position: -2557px 0px;
}

.iti-flag.jo {
    height: 10px;
    background-position: -2579px 0px;
}

.iti-flag.jp {
    height: 16px;
    background-position: -2602px 0px;
    border: 1px solid #ccc;
}

.iti-flag.ke {
    height: 14px;
    background-position: -2623px 0px;
}

.iti-flag.kg {
    height: 12px;
    background-position: -2645px 0px;
}

.iti-flag.kh {
    height: 13px;
    background-position: -2667px 0px;
}

.iti-flag.ki {
    height: 10px;
    background-position: -2689px 0px;
}

.iti-flag.km {
    height: 12px;
    background-position: -2710px 0px;
}

.iti-flag.kn {
    height: 14px;
    background-position: -2732px 0px;
}

.iti-flag.kp {
    height: 10px;
    background-position: -2754px 0px;
}

.iti-flag.kr {
    height: 14px;
    background-position: -2820px 0px;
}

.iti-flag.kw {
    height: 10px;
    background-position: -2798px 0px;
}

.iti-flag.ky {
    height: 10px;
    background-position: -2831px 0px
}

.iti-flag.kz {
    height: 10px;
    background-position: -2842px 0px;
}

.iti-flag.la {
    height: 14px;
    background-position: -2864px 0px;
}

.iti-flag.lb {
    height: 14px;
    background-position: -2886px 0px;
}

.iti-flag.lc {
    height: 10px;
    background-position: -2908px 0px;
}

.iti-flag.li {
    height: 12px;
    background-position: -2930px 0px;
}

.iti-flag.lk {
    height: 10px;
    background-position: -2952px 0px;
}

.iti-flag.lr {
    height: 11px;
    background-position: -2973px 0px;
}

.iti-flag.ls {
    height: 14px;
    background-position: -2995px 0px;
}

.iti-flag.lt {
    height: 12px;
    background-position: -3018px 0px;
}

.iti-flag.lu {
    height: 12px;
    background-position: -3039px 0px;
}

.iti-flag.lv {
    height: 10px;
    background-position: -3062px 0px;
}

.iti-flag.ly {
    height: 10px;
    background-position: -3084px 0px;
}

.iti-flag.ma {
    height: 14px;
    background-position: -3104px 0px;
}

.iti-flag.mc {
    height: 13px;
    background-position: -3127px 0px;
    border: 1px solid #ccc;
}

.iti-flag.md {
    height: 10px;
    background-position: -3148px 0px;
}

.iti-flag.me {
    height: 10px;
    background-position: -3170px 0px;
}

.iti-flag.mf {
    height: 14px;
    background-position: -3191px 0px;
}

.iti-flag.mg {
    height: 14px;
    border: 1px solid #ccc;
    background-position: -3215px 0px;
}

.iti-flag.mh {
    height: 11px;
    background-position: -3235px 0px;
}

.iti-flag.mk {
    height: 10px;
    background-position: -3270px 0px
}

.iti-flag.ml {
    height: 14px;
    background-position: -3279px 0px;
}

.iti-flag.mm {
    height: 14px;
    background-position: -3314px 0px
}

.iti-flag.mn {
    height: 10px;
    background-position: -3301px 0px;
}

.iti-flag.mo {
    height: 14px;
    background-position: -3345px 0px;
}

.iti-flag.mp {
    height: 10px;
    background-position: -3366px 0px;
}

.iti-flag.mq {
    height: 14px;
    background-position: -3389px 0px;
}

.iti-flag.mr {
    height: 14px;
    background-position: -3411px 0px;
}

.iti-flag.ms {
    height: 10px;
    background-position: -3433px 0px;
}

.iti-flag.mt {
    height: 14px;
    background-position: -3454px 0px;
    border: 1px solid #ccc;
}

.iti-flag.mu {
    height: 14px;
    background-position: -3476px 0px;
}

.iti-flag.mv {
    height: 14px;
    background-position: -3499px 0px;
}

.iti-flag.mw {
    height: 14px;
    background-position: -3520px 0px;
}

.iti-flag.mx {
    height: 12px;
    background-position: -3542px 0px;
}

.iti-flag.my {
    height: 10px;
    background-position: -3564px 0px;
}

.iti-flag.mz {
    height: 14px;
    background-position: -3586px 0px;
}

.iti-flag.na {
    height: 14px;
    background-position: -3608px 0px;
}

.iti-flag.nc {
    height: 10px;
    background-position: -3630px 0px;
}

.iti-flag.ne {
    height: 15px;
    background-position: -3650px 0px;
}

.iti-flag.nf {
    height: 10px;
    background-position: -3672px 0px;
}

.iti-flag.ng {
    height: 10px;
    background-position: -3694px 0px;
}

.iti-flag.ni {
    height: 12px;
    background-position: -3716px 0px;
}

.iti-flag.nl {
    height: 14px;
    background-position: -3737px 0px;
}

.iti-flag.no {
    height: 15px;
    background-position: -3759px 0px;
}

.iti-flag.np {
    height: 15px;
    background-position: -3780px 0px;
}

.iti-flag.nr {
    height: 10px;
    background-position: -3796px 0px;
}

.iti-flag.nu {
    height: 10px;
    background-position: -3818px 0px;
}

.iti-flag.nz {
    height: 10px;
    background-position: -3840px 0px;
}

.iti-flag.om {
    height: 10px;
    background-position: -3861px 0px;
}

.iti-flag.pa {
    height: 14px;
    background-position: -3884px 0px;
}

.iti-flag.pe {
    height: 14px;
    background-position: -3906px 0px;
}

.iti-flag.pf {
    height: 14px;
    background-position: -3928px 0px;
}

.iti-flag.pg {
    height: 15px;
    background-position: -3949px 0px;
}

.iti-flag.ph {
    height: 10px;
    background-position: -3972px 0px;
}

.iti-flag.pk {
    height: 14px;
    background-position: -3995px 0px;
}

.iti-flag.pl {
    height: 13px;
    background-position: -4017px 0px;
    border: 1px solid #ccc;
}

.iti-flag.pm {
    height: 14px;
    background-position: -4037px 0px;
}

.iti-flag.pn {
    height: 10px;
    background-position: -4075px 0px
}

.iti-flag.pr {
    height: 14px;
    background-position: -4081px 0px;
}

.iti-flag.ps {
    height: 10px;
    background-position: -4103px 0px;
}

.iti-flag.pt {
    height: 14px;
    background-position: -4125px 0px;
}

.iti-flag.pw {
    height: 13px;
    background-position: -4146px 0px;
}

.iti-flag.py {
    height: 11px;
    background-position: -4169px 0px;
}

.iti-flag.qa {
    height: 8px;
    border: 1px solid #ccc;
    background-position: -4191px 0px;
}

.iti-flag.re {
    height: 14px;
    background-position: -4213px 0px;
}

.iti-flag.ro {
    height: 14px;
    background-position: -4234px 0px;
}

.iti-flag.rs {
    height: 14px;
    background-position: -4256px 0px;
}

.iti-flag.ru {
    height: 14px;
    background-position: -4278px 0px;
}

.iti-flag.rw {
    height: 14px;
    background-position: -4300px 0px;
}

.iti-flag.sa {
    height: 14px;
    background-position: -4322px 0px;
}

.iti-flag.sb {
    height: 10px;
    background-position: -4343px 0px;
}

.iti-flag.sc {
    height: 10px;
    background-position: -4366px 0px;
}

.iti-flag.sd {
    height: 10px;
    background-position: -4388px 0px;
}

.iti-flag.se {
    height: 13px;
    background-position: -4410px 0px;
}

.iti-flag.sg {
    height: 14px;
    background-position: -4432px 0px;
}

.iti-flag.sh {
    height: 10px;
    background-position: -4454px 0px;
}

.iti-flag.si {
    height: 10px;
    background-position: -4476px 0px;
}

.iti-flag.sj {
    height: 15px;
    background-position: -4497px 0px;
}

.iti-flag.sk {
    height: 14px;
    background-position: -4519px 0px;
}

.iti-flag.sl {
    height: 14px;
    background-position: -4541px 0px;
}

.iti-flag.sm {
    height: 15px;
    background-position: -4563px 0px;
}

.iti-flag.sn {
    height: 14px;
    background-position: -4585px 0px;
}

.iti-flag.so {
    height: 14px;
    background-position: -4607px 0px;
}

.iti-flag.sr {
    height: 14px;
    background-position: -4628px 0px;
}

.iti-flag.ss {
    height: 10px;
    background-position: -4651px 0px;
}

.iti-flag.st {
    height: 10px;
    background-position: -4673px 0px;
}

.iti-flag.sv {
    height: 12px;
    background-position: -4695px 0px;
}

.iti-flag.sx {
    height: 14px;
    background-position: -4715px 0px;
}

.iti-flag.sy {
    height: 14px;
    background-position: -4737px 0px;
}

.iti-flag.sz {
    height: 14px;
    background-position: -4760px 0px;
}

.iti-flag.ta {
    height: 10px;
    background-position: -4801px 0px
}

.iti-flag.tc {
    height: 10px;
    background-position: -4804px 0px;
}

.iti-flag.td {
    height: 14px;
    background-position: -4826px 0px;
}

.iti-flag.tf {
    height: 14px;
    background-position: -4867px 0px
}

.iti-flag.tg {
    height: 13px;
    background-position: -4870px 0px;
}

.iti-flag.th {
    height: 14px;
    background-position: -4891px 0px;
}

.iti-flag.tj {
    height: 10px;
    background-position: -4914px 0px
}

.iti-flag.tk {
    height: 10px;
    background-position: -4936px 0px;
}

.iti-flag.tl {
    height: 10px;
    background-position: -4957px 0px;
}

.iti-flag.tm {
    height: 14px;
    background-position: -4980px 0px;
}

.iti-flag.tn {
    height: 14px;
    background-position: -5002px 0px;
}

.iti-flag.to {
    height: 10px;
    background-position: -5023px 0px;
}

.iti-flag.tr {
    height: 14px;
    background-position: -5046px 0px;
}

.iti-flag.tt {
    height: 12px;
    background-position: -5067px 0px;
}

.iti-flag.tv {
    height: 10px;
    background-position: -5089px 0px;
}

.iti-flag.tw {
    height: 14px;
    background-position: -5111px 0px;
}

.iti-flag.tz {
    height: 14px;
    background-position: -5132px 0px;
}

.iti-flag.ua {
    height: 14px;
    background-position: -5155px 0px;
}

.iti-flag.ug {
    height: 14px;
    background-position: -5177px 0px;
}

.iti-flag.um {
    height: 11px;
    background-position: -5219px 0px
}

.iti-flag.us {
    height: 11px;
    background-position: -5241px 0px
}

.iti-flag.uy {
    height: 14px;
    background-position: -5263px 0px
}

.iti-flag.uz {
    height: 10px;
    background-position: -5285px 0px
}

.iti-flag.va {
    height: 15px;
    background-position: -5307px 0px
}

.iti-flag.vc {
    height: 14px;
    background-position: -5324px 0px
}

.iti-flag.ve {
    height: 14px;
    background-position: -5346px 0px
}

.iti-flag.vg {
    height: 10px;
    background-position: -5368px 0px
}

.iti-flag.vi {
    height: 14px;
    background-position: -5390px 0px
}

.iti-flag.vn {
    height: 14px;
    background-position: -5412px 0px
}

.iti-flag.vu {
    height: 12px;
    background-position: -5434px 0px
}

.iti-flag.wf {
    height: 14px;
    background-position: -5456px 0px
}

.iti-flag.ws {
    height: 10px;
    background-position: -5478px 0px
}

.iti-flag.xk {
    height: 15px;
    background-position: -5500px 0px
}

.iti-flag.ye {
    height: 14px;
    background-position: -5522px 0px
}

.iti-flag.yt {
    height: 14px;
    background-position: -5545px 0px;
    border: 1px solid #ccc;
}

.iti-flag.za {
    height: 14px;
    background-position: -5566px 0px
}

.iti-flag.zm {
    height: 14px;
    background-position: -5588px 0px
}

.iti-flag.zw {
    height: 10px;
    background-position: -5610px 0px
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image:url("../images/flags@2x.png")
    }
}

.iti-flag.np {
    background-color: transparent
}
